*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("./images/vecteezy_beer-day-background-two-hands-holding-glass-and-toast_8831618.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
