.container {
    display: flex;
    flex-direction: column;
    
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    position: relative;
}

.progressbar {
    display: flex;
    margin: 10px;
}

.nametag{
    margin: 10px;
    color:#fde456;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    background-color: transparent;
    border: 0;
    color: #fde456;
    display: flex;
    width: 100px;
}